<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
<th:block th:fragment="navigator">
    <ul>
        <li><a th:href="@{/}">Home</a></li>
        <li><a th:href="@{/welcome/}">Fun with pages</a></li>
        <li><a th:href="@{/multiply/}">Multiplication tool</a></li>
        <li><a th:href="@{/student}">Student list</a></li>
        <li><a th:href="@{/student/form}">Student form/add tool</a></li>
    </ul>
</th:block>

</body>
</html>